<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        <h1>Learning vue JS {{message}}</h1>
        <h5>{{firstName}} {{lastName}}</h5>
        <h5>{{fullname}}</h5>
        <p
        v-for="language in languages"
        style="border: 1px solid red; padding: 10px;"
        :class="'lang-'+language.key">
            <template>
                <p
                    v-if="language.key === 'python'"
                    v-on:click="my_function(language.key)"
                 >
                    I love {{language.key}}
                </p>
                <p v-else
                   v-on:click="my_function(language.key)"
                >
                    {{language.key}}
                </p>
            </template>

        </p>
    </div>

    <script>
        var app = new Vue({
            el:'#app',
            data:{
                firstName:'soumil',
                lastName:"shah",
                message:'Happy learning ',
                languages:["python", 'c', "java"].map(x=>{return {key:x}})
            },
            computed:{
                fullname(){
                    return 'Hello ' + this.firstName + this.lastName;
                }
            },
            methods:{
                my_function:function (x){
                    alert(x)
                }
            }
        });
    </script>
</body>
</html>